<header class="cabecalho">
    <h1 class="titulo">Hospital</h1>
    <div class="botao-cabecalho">
        <button class="botao-home" routerLink="home">
            Calendário
        </button>
        <div class="botao-criar">
            <button routerLink="pacientes">
                Cadastrar novo Paciente
            </button>
            <button routerLink="medicos">
                Cadastrar novo Médico
            </button>
            <button routerLink="consultas">
                Cadastrar nova Consulta
            </button>
        </div>
    </div>
</header>