<section class="criar-tarefa">
        <form class="formulario ff-prompt" [formGroup]="formularioPaciente">
            <label for="nome">Nome:</label>
            <input required type="text" formControlName="nome" placeholder="Digite o nome" class="form-paciente">
            <label for="nascimento">Nascimento:</label>
            <input required type="date" formControlName="nascimento" class="form-paciente-nascimento">
            <label for="cpf">CPF:</label>
            <input required type="text" formControlName="cpf" class="form-paciente">
            <label for="acompanhante">Acompanhante:</label>
            <input required type="text" formControlName="acompanhante" class="form-paciente">

            <div class="botoes-form">
                <button
                    id="botao-salvar"
                    (click)="salvarCadastro('paciente')"
                    class="botao-form"
                    [ngClass]="habilitarBotao()"
                    [disabled]="!formularioPaciente.valid">
                      Salvar
                </button>
                <button (click)="cancelar()" class="botao-form botao-cancelar">
                    Cancelar
                </button>
            </div>
        </form>
</section>
<section class="listagem-pacientes">
    <div class="ilustracao">
        <h2>Pacientes Cadastrados</h2>
        <img src="assets/imagens/ilustracao-Pacientes.png"
            alt="Ilustração de bonecos"
            class="imagem-paciente">
    </div>
    <div class="busca">
        <p class="ff-prompt">Procurando pacientes</p>
        <input 
            type="search" 
            id="campo-busca" 
            placeholder="Busque por um paciente"
            [(ngModel)]="campoBusca"
            (keyup)="filtrarPacientePorNome(campoBusca)">
    </div>
    <div *ngIf="pacientesFiltrados.length > 0, else semTarefas" class="painel-pacientes">
        <div 
            class="lista-pacientes"
            *ngFor="let paciente of pacientesFiltrados">
            <div class="conteudo">
                <p class="card-descricao ff-prompt">
                    Nome: {{ paciente.nome }}
                    <br>
                    Idade: {{ paciente.idade }}
                    <br>
                    CPF: {{ paciente.cpf }} 
                    <br>
                    Acompanhante: {{ paciente.acompanhante }}
                </p>
                <div class="botoes-card">
                    <button 
                        class="botao-editar"
                        (click)="carregarParaEditar(paciente.id, 'paciente')">
                        <img src="assets/icones/icone-editar.png" alt="Ícone de editar">
                    </button>
                    <button class="botao-deletar">
                        <img src="assets/icones/icone-excluir.png" alt="Ícone de excluir">
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
<ng-template #semTarefas>
    <p class="ng-template ff-prompt">Olá! Ainda não há pacientes cadastrados! :)</p>
</ng-template>